

.info-btn {
    --bs-btn-padding-x: 0em;
    --bs-btn-padding-y: 0em;
    background-color: #transparent; /*#404040;*/
    /*color: white;*/
    font-weight: bold;
    font-size: 13px;
    font-family: serif;
    border-radius: 50%; 
    width: 17px; 
    height: 17px;
    vertical-align: 0.5px;
    text-box: trim-both cap alphabetic;
   /* border: none;*/
}

#toggle_temp {
    --bs-btn-padding-x: 0em;
    --bs-btn-padding-y: .3em;
    font-weight: bold;
    border-radius: 50%; 
    width: 32px; 
    height: 32px;
    vertical-align: 2.5px;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-font-size: 1.3rem;
    --bs-btn-hover-color: #dee2e6;
}

#year {
    font-size: 20px;
    }

/* p {
  font-size: 100%;
  } */


/* .custom-value-box .value-box-value {
    font-size: 22px;  
    /* font-weight: bold; */
} */

/* .custom-value-box .value-box-title {
    font-size: 18px;  
    /* font-weight: bold; */
} */