:root {
  --bslib-sidebar-main-bg: #f8f8f8;
}

.info-btn {
    border: none;
}

/* p {
  font-size: 100%;
  } */


/* .custom-value-box .value-box-value {
    font-size: 22px;  
    /* font-weight: bold; */
} */

/* .custom-value-box .value-box-title {
    font-size: 18px;  
    /* font-weight: bold; */
} */