

.info-btn {
    --bs-btn-padding-x: 0em;
    --bs-btn-padding-y: 0em;
    background-color: #404040;
    color: white;
    font-weight: bold;
    font-size: 13px;
    font-family: math;
    border-radius: 50%; 
    width: 17px; 
    height: 17px;
   /* border: none;*/
}

#toggle_temp {
    --bs-btn-padding-x: 0em;
    --bs-btn-padding-y: 0em;
    font-weight: bold;
    border-radius: 50%; 
    width: 30px; 
    height: 30px;
}

/* p {
  font-size: 100%;
  } */


/* .custom-value-box .value-box-value {
    font-size: 22px;  
    /* font-weight: bold; */
} */

/* .custom-value-box .value-box-title {
    font-size: 18px;  
    /* font-weight: bold; */
} */